parameters:
    level: max
    paths:
        - src
        - examples
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        checkedExceptionClasses:
            - DigitalCz\OpenIDConnect\Exception\Exception
